:root {
  --font-family-primary: "";
  --font-family-secondary: "";
  --font-color-primary: var(--color-white);
  --font-color-secondary: var(--color-grey);
  --bg-color: var(--color-dark);
  --color-white: #FFFFFF;
  --color-grey: #73747C;
  --color-black: #000000;
  --color-dark: #151724;
}